@import "tailwindcss";

@custom-variant light (&:not(.dark *));

@layer theme {
    :root {
        @variant light {
            --color-background: oklch(1 0 0);
            --color-foreground: oklch(0.145 0 0);
        }

        @variant dark {
            --color-background: oklch(0.145 0 0);
            --color-foreground: oklch(0.985 0 0);
        }
    }
}